[Desktop Entry]
Type=Application
Version=1.0
Name=Install Arvora OS
GenericName=System Installer
Keywords=calamares;system;installer;arvora;
TryExec=calamares
Exec=/usr/bin/calamares_polkit %f
Comment=Calamares — Arvora OS Installer
Icon=calamares
Terminal=false
StartupNotify=true
Categories=Qt;System;
X-AppStream-Ignore=true

Name[ar]=تثبيت Arvora OS
Icon[ar]=كالامارس
GenericName[ar]=مثبت النظام
Comment[ar]=كالامارس - مثبت Arvora OS
Name[as]=Arvora OS ইনস্তল কৰক
Icon[as]=কেলামাৰেচ
GenericName[as]=চিছটেম ইনস্তলাৰ
Comment[as]=কেলামাৰেচ — Arvora OS ইনস্তলাৰ
Name[ast]=Instalar Arvora OS
Icon[ast]=calamares
GenericName[ast]=Instalador del sistema
Comment[ast]=Calamares — Instalador de Arvora OS
Name[az]=Arvora OS Quraşdırmaq
Icon[az]=calamares
GenericName[az]=Sistem Quraşdırıcısı
Comment[az]=Calamares Arvora OS Quraşdırıcısı
Name[az_AZ]=Arvora OS quraşdırmaq
Icon[az_AZ]=calamares
GenericName[az_AZ]=Sistem quraşdırcısı
Comment[az_AZ]=Calamares — Arvora OS Quraşdırıcısı
Name[be]=Усталяваць Arvora OS
Icon[be]=calamares
GenericName[be]=Усталёўшчык сістэмы
Comment[be]=Calamares — усталёўшчык Arvora OS
Name[bg]=Инсталирай Arvora OS
Icon[bg]=calamares
GenericName[bg]=Системен инсталатор
Comment[bg]=„Calamares" – Системен инсталатор на Arvora OS
Name[bn]=Arvora OS ইনস্টল করুন
Icon[bn]=ক্যালামারেস
GenericName[bn]=সিস্টেম ইনস্টলার
Comment[bn]=ক্যালামারেস - Arvora OS ইনস্টলার
Name[ca]=Instal·la Arvora OS
Icon[ca]=calamares
GenericName[ca]=Instal·lador de sistema
Comment[ca]=Calamares — Instal·lador de Arvora OS
Name[cs_CZ]=Nainstalovat Arvora OS
Icon[cs_CZ]=calamares
GenericName[cs_CZ]=Instalátor systému
Comment[cs_CZ]=Calamares – instalátor Arvora OS
Name[da]=Installér Arvora OS
Icon[da]=calamares
GenericName[da]=Systeminstallationsprogram
Comment[da]=Calamares — Systeminstallationsprogram for Arvora OS
Name[de]=Arvora OS installieren
Icon[de]=calamares
GenericName[de]=Installation des Betriebssystems
Comment[de]=Calamares - Installation von Arvora OS
Name[el]=Εγκατάσταση Arvora OS
Icon[el]=calamares
GenericName[el]=Εγκατάσταση συστήματος
Comment[el]=Calamares — Εγκατάσταση Arvora OS
Name[en_GB]=Install Arvora OS
Icon[en_GB]=calamares
GenericName[en_GB]=System Installer
Comment[en_GB]=Calamares — Arvora OS Installer
Name[eo]=Instali Arvora OS
Icon[eo]=calamares
GenericName[eo]=Sistema Instalilo
Comment[eo]=Calamares — Sistema Instalilo por Arvora OS
Name[es]=Instalar Arvora OS
Icon[es]=calamares
GenericName[es]=Instalador del sistema
Comment[es]=Calamares — Instalador de Arvora OS
Name[es_MX]=Instalar Arvora OS
Icon[es_MX]=calamares
GenericName[es_MX]=Instalador del sistema
Comment[es_MX]=Calamares - Instalador de Arvora OS
Name[es_PR]=Instalar Arvora OS
Name[et]=Paigalda Arvora OS
Icon[et]=calamares
GenericName[et]=Süsteemipaigaldaja
Comment[et]=Calamares — süsteemipaigaldaja Arvora OS jaoks
Name[eu]=Arvora OS instalatu
Icon[eu]=calamares
GenericName[eu]=Sistema instalatzailea
Comment[eu]=Calamares - Arvora OS sistema instalatzailea
Name[fa]=نصب Arvora OS
Icon[fa]=کالامارس
GenericName[fa]=نصب‌کننده سامانه
Comment[fa]=کالامارس — نصب‌کننده Arvora OS
Name[fi_FI]=Asenna Arvora OS
Icon[fi_FI]=calamares
GenericName[fi_FI]=Järjestelmän asennusohjelma
Comment[fi_FI]=Calamares — Arvora OS:n asentaja
Name[fr]=Installer Arvora OS
Icon[fr]=calamares
GenericName[fr]=Installateur système
Comment[fr]=Calamares — Installateur d'Arvora OS
Name[fr_CA]=Installer Arvora OS
Icon[fr_CA]=calamares
GenericName[fr_CA]=Installateur système
Comment[fr_CA]=Calamares — Installateur d'Arvora OS
Name[gl]=Instalar Arvora OS
Icon[gl]=calamares
GenericName[gl]=Instalador do sistema
Comment[gl]=Calamares — Instalador de Arvora OS
Name[he]=התקן Arvora OS
Icon[he]=calamares
GenericName[he]=מתקין מערכת
Comment[he]=Calamares — מתקין Arvora OS
Name[hi]=Arvora OS इंस्टॉल करें
Icon[hi]=calamares
GenericName[hi]=सिस्टम इंस्टॉलर
Comment[hi]=Calamares — Arvora OS इंस्टॉलर
Name[hr]=Instaliraj Arvora OS
Icon[hr]=calamares
GenericName[hr]=Instalator sustava
Comment[hr]=Calamares — Instalator Arvora OS-a
Name[hu]=Arvora OS telepítése
Icon[hu]=calamares
GenericName[hu]=Rendszertelepítő
Comment[hu]=Calamares — Arvora OS telepítő
Name[id]=Instal Arvora OS
Icon[id]=calamares
GenericName[id]=Installer Sistem
Comment[id]=Calamares — Instaler Arvora OS
Name[is]=Setja upp Arvora OS
Icon[is]=calamares
GenericName[is]=Kerfisuppsetning
Comment[is]=Calamares — Arvora OS uppsetning
Name[it]=Installa Arvora OS
Icon[it]=calamares
GenericName[it]=Installatore di sistema
Comment[it]=Calamares — Installatore di Arvora OS
Name[ja]=Arvora OS をインストール
Icon[ja]=calamares
GenericName[ja]=システムインストーラー
Comment[ja]=Calamares — Arvora OS インストーラー
Name[ka]=Arvora OS-ის დაინსტალირება
Icon[ka]=calamares
GenericName[ka]=სისტემის ინსტალატორი
Comment[ka]=Calamares — Arvora OS-ის ინსტალატორი
Name[kk]=Arvora OS орнату
Icon[kk]=calamares
GenericName[kk]=Жүйе орнатушысы
Comment[kk]=Calamares — Arvora OS орнатушысы
Name[km]=ដំឡើង Arvora OS
Icon[km]=calamares
GenericName[km]=ឧបករណ៍ដំឡើងប្រព័ន្ធ
Comment[km]=Calamares — ឧបករណ៍ដំឡើង Arvora OS
Name[ko]=Arvora OS 설치
Icon[ko]=calamares
GenericName[ko]=시스템 설치 프로그램
Comment[ko]=Calamares — Arvora OS 설치 프로그램
Name[lt]=Įdiegti Arvora OS
Icon[lt]=calamares
GenericName[lt]=Sistemos diegiklis
Comment[lt]=Calamares — Arvora OS diegiklis
Name[lv]=Instalēt Arvora OS
Icon[lv]=calamares
GenericName[lv]=Sistēmas instalētājs
Comment[lv]=Calamares — Arvora OS instalētājs
Name[mk]=Инсталирај Arvora OS
Icon[mk]=calamares
GenericName[mk]=Инсталатор на систем
Comment[mk]=Calamares — Инсталатор на Arvora OS
Name[ml]=Arvora OS ഇൻസ്റ്റാൾ ചെയ്യുക
Icon[ml]=calamares
GenericName[ml]=സിസ്റ്റം ഇൻസ്റ്റാളർ
Comment[ml]=Calamares — Arvora OS ഇൻസ്റ്റാളർ
Name[mr]=Arvora OS इन्स्टॉल करा
Icon[mr]=calamares
GenericName[mr]=सिस्टम इन्स्टॉलर
Comment[mr]=Calamares — Arvora OS इन्स्टॉलर
Name[ms]=Pasang Arvora OS
Icon[ms]=calamares
GenericName[ms]=Pemasang Sistem
Comment[ms]=Calamares — Pemasang Arvora OS
Name[nb]=Installer Arvora OS
Icon[nb]=calamares
GenericName[nb]=Systeminstallatør
Comment[nb]=Calamares — Systeminstallatør for Arvora OS
Name[ne]=Arvora OS स्थापना गर्नुहोस्
Icon[ne]=calamares
GenericName[ne]=सिस्टम स्थापक
Comment[ne]=Calamares — Arvora OS स्थापक
Name[nl]=Arvora OS installeren
Icon[nl]=calamares
GenericName[nl]=Systeeminstallatie
Comment[nl]=Calamares — Arvora OS installatie
Name[nn]=Installer Arvora OS
Icon[nn]=calamares
GenericName[nn]=Systeminstallatør
Comment[nn]=Calamares — Systeminstallatør for Arvora OS
Name[pa]=Arvora OS ਇੰਸਟਾਲ ਕਰੋ
Icon[pa]=calamares
GenericName[pa]=ਸਿਸਟਮ ਇੰਸਟਾਲਰ
Comment[pa]=Calamares — Arvora OS ਇੰਸਟਾਲਰ
Name[pl]=Zainstaluj Arvora OS
Icon[pl]=calamares
GenericName[pl]=Instalator systemu
Comment[pl]=Calamares — Instalator Arvora OS
Name[pt]=Instalar Arvora OS
Icon[pt]=calamares
GenericName[pt]=Instalador do sistema
Comment[pt]=Calamares — Instalador do Arvora OS
Name[pt_BR]=Instalar Arvora OS
Icon[pt_BR]=calamares
GenericName[pt_BR]=Instalador do sistema
Comment[pt_BR]=Calamares — Instalador do Arvora OS
Name[pt_PT]=Instalar Arvora OS
Icon[pt_PT]=calamares
GenericName[pt_PT]=Instalador do sistema
Comment[pt_PT]=Calamares — Instalador do Arvora OS
Name[ro]=Instalează Arvora OS
Icon[ro]=calamares
GenericName[ro]=Instalator de sistem
Comment[ro]=Calamares — Instalator Arvora OS
Name[ru]=Установить Arvora OS
Icon[ru]=calamares
GenericName[ru]=Установщик системы
Comment[ru]=Calamares — установщик Arvora OS
Name[sk]=Nainštalovať Arvora OS
Icon[sk]=calamares
GenericName[sk]=Inštalátor systému
Comment[sk]=Calamares — inštalátor Arvora OS
Name[sl]=Namesti Arvora OS
Icon[sl]=calamares
GenericName[sl]=Namestitvenik sistema
Comment[sl]=Calamares — namestitvenik Arvora OS
Name[sr]=Инсталирај Arvora OS
Icon[sr]=calamares
GenericName[sr]=Инсталатор система
Comment[sr]=Calamares — инсталатор Arvora OS
Name[sv]=Installera Arvora OS
Icon[sv]=calamares
GenericName[sv]=Systeminstallatör
Comment[sv]=Calamares — Systeminstallatör för Arvora OS
Name[ta]=Arvora OS நிறுவு
Icon[ta]=calamares
GenericName[ta]=சிஸ்டம் நிறுவி
Comment[ta]=Calamares — Arvora OS நிறுவி
Name[te]=Arvora OS ని ఇన్‌స్టాల్ చేయండి
Icon[te]=calamares
GenericName[te]=సిస్టమ్ ఇన్‌స్టాలర్
Comment[te]=Calamares — Arvora OS ఇన్‌స్టాలర్
Name[th]=ติดตั้ง Arvora OS
Icon[th]=calamares
GenericName[th]=ตัวติดตั้งระบบ
Comment[th]=Calamares — ตัวติดตั้ง Arvora OS
Name[tr]=Arvora OS Kur
Icon[tr]=calamares
GenericName[tr]=Sistem Yükleyicisi
Comment[tr]=Calamares — Arvora OS Yükleyicisi
Name[ug]=Arvora OS قاچىلاش
Icon[ug]=calamares
GenericName[ug]=سىستېما قاچىلىغۇچ
Comment[ug]=Calamares — Arvora OS قاچىلىغۇچ
Name[uk]=Встановити Arvora OS
Icon[uk]=calamares
GenericName[uk]=Встановлювач системи
Comment[uk]=Calamares — встановлювач Arvora OS
Name[ur]=Arvora OS انسٹال کریں
Icon[ur]=کالامارس
GenericName[ur]=سسٹم انسٹالر
Comment[ur]=کالامارس — Arvora OS انسٹالر
Name[vi]=Cài đặt Arvora OS
Icon[vi]=calamares
GenericName[vi]=Trình cài đặt hệ thống
Comment[vi]=Calamares — Trình cài đặt Arvora OS
Name[zh_CN]=安装 Arvora OS
Icon[zh_CN]=calamares
GenericName[zh_CN]=系统安装程序
Comment[zh_CN]=Calamares — Arvora OS 安装程序
Name[zh_HK]=安裝 Arvora OS
Icon[zh_HK]=calamares
GenericName[zh_HK]=系統安裝程式
Comment[zh_HK]=Calamares — Arvora OS 安裝程式
Name[zh_TW]=安裝 Arvora OS
Icon[zh_TW]=calamares
GenericName[zh_TW]=系統安裝程式
Comment[zh_TW]=Calamares — Arvora OS 安裝程式 