LABEL arch64
TEXT HELP
Boot the Arvora OS live environment on BIOS (Plasma + Calamares).
ENDTEXT
MENU LABEL Arvora OS live (x86_64, BIOS)
LINUX /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux-lts
INITRD /%INSTALL_DIR%/boot/x86_64/initramfs-linux-lts.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% quiet splash

# Accessibility boot option
LABEL arch64speech
TEXT HELP
Boot Arvora OS live on BIOS with speakup screen reader.
ENDTEXT
MENU LABEL Arvora OS live (x86_64, BIOS) with ^speech
LINUX /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux-lts
INITRD /%INSTALL_DIR%/boot/x86_64/initramfs-linux-lts.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% quiet splash accessibility=on
